In [9]:
!pip install jsonlines

Requirement already satisfied: jsonlines in /Users/hyunn/opt/anaconda3/lib/python3.8/site-packages (2.0.0)

In [2]:
import jsonlines
import json
import os
from glob import glob
import pandas as pd

In [55]:
with open('data/Training/train_news.json', 'r') as f:
    news = json.load(f)
origin_sentences = []
ext = []
for doc in news['documents']:
    origin_sentences.append(" ".join([ line[0]['sentence'].replace('.','')+'.' for line in doc['text'] if len(line) > 0]  ))
    ext.append(doc['extractive'])

In [4]:
news['documents'][0]['text'][:3]

[[{'index': 0,
   'sentence': 'ha당 조사료 400만원…작물별 차등 지원',
   'highlight_indices': ''}],
 [{'index': 1, 'sentence': '이성훈 sinawi@hanmail.net', 'highlight_indices': ''}],
 [{'index': 2,
   'sentence': '전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를 적극 추진키로 했다.',
   'highlight_indices': ''}]]

In [6]:
origin_sentences[15000]

'與 김영춘·유영민·류영진 등 중량감 키운 친문계 당 복귀할듯. - 한국당 당직에 PK친박 중용해. 내년 21대 총선의 최대 승부처인 부산 울산 경남(PK)에서 친문(친문재인)과 친박(친박근혜)의 세 번째 대결이 벌어질 가능성이 커지고 있다. 이르면 이번 주 예정된 개각 때 김영춘 해양수산부 장관은 부산 부산진갑 민주당 의원으로 복귀가 유력한 것으로 3일 알려졌다. 자유한국당 황 대표는 내년 총선 전략과 당 운영 향배를 가늠할 수 있는 첫 인선을 이번 주 내놓는다. 하지만 친박 전면 배치에 대한 당 내부의 비판도 커지고 있어 변동 가능성도 있다. 박태우 기자 yain@kookjecokr .'

In [128]:
with open('./news_sentences', 'w') as f:
    for line in origin_sentences:
        f.write(line+'\n')

In [35]:
file_names = []
for each in glob('./morp_out/*'):
    file_names.append(each)

In [36]:
file_names_2 = []
for each in glob('./morp/*'):
    file_names_2.append(each)

In [37]:
file_names.sort(key=lambda x: int(x[19:]))
file_names_2.sort(key=lambda x: int(x[10:]))

In [38]:
file_names = file_names+file_names_2

In [46]:
len(file_names)

27228

In [41]:
morp = []
for name in file_names:
    morp.append(open(name, 'r').read())

In [42]:
news_df = pd.DataFrame(columns=['morp', 'extractive'])

In [43]:
train_ext = ext[:20000] + ext[25000:30000] + ext[35000:43000]

In [49]:
news_df['morp'] = morp
news_df['extractive'] = train_ext[:27228]

In [50]:
news_df

                                                    morp  extractive
0      ha/SL 당/XSN 조/NNG 사료/NNG 400/SN 만/NR 원/NNB …/S...  [2, 3, 10]
1      8/SN 억/NR 투입/NNG ,/SP 고소/NNG 천사/NNG 벽화/NNG ·/S...  [2, 4, 11]
2      전남드래곤즈/NNP 해/NNG 맞이/NNG 다짐/NNG …/SE 선수/NNG 영입/...   [3, 5, 7]
3      11/SN ~/SO 24/SN 일/NNB ,/SP 매실/NNG ·/SP 감/NNG ...   [2, 3, 4]
4      홍콩/NNP 크루즈선사/NNP ‘/SS 아쿠아리우스/NNP ’/SS 4/SN ,/S...   [3, 7, 4]
...                                                  ...         ...
27223  홍하/NNP 은/JX 오늘/NNG 부터/JX 본격/NNG 선거/NNG 운동/NNG ...   [0, 1, 2]
27224  홍하/NNP 은/JX 2018/SN 년/NNB 출생/NNG ·/SP 사망/NNG 통...   [7, 3, 6]
27225  이창준/NNP 바깥/NNG 경쟁/NNG 력/XSN ·/SP 중도/NNG 보수/NNG...   [3, 5, 6]
27226  오늘/NNG 이/JKS 3/SN ·/SP 1/SN 운동/NNG 및/MAJ 상해/NN...   [0, 3, 1]
27227  남승현/NNP 계명문화대/NNP 박승호/NNP 총장/NNG 취임/NNG 계명/NNG...   [1, 2, 3]

[27228 rows x 2 columns]

In [20]:
news_df.to_csv('news_morp_ext.csv')

In [23]:
cnt = 0
for each in morp:
    for t in each.split(' ./SF '):
        if t == "":
            cnt +=1

In [24]:
cnt

10000

In [25]:
news_df.iloc[0][0].split(' ./SF ')[0]

'ha/SL 당/XSN 조/NNG 사료/NNG 400/SN 만/NR 원/NNB …/SE 작물/NNG 별/XSN 차등/NNG 지원/NNG'

In [26]:
import ast

In [40]:
ast.literal_eval('[1, 2, 3]')

[1, 2, 3]

In [31]:
type(news_df.iloc[0][1])

list

In [35]:
df = pd.read_csv('./news_morp_ext.csv', index_col =0)

In [44]:
[ i.split(" ") for i in df.iloc[0][0].split(' ./SF ')[:-1]][0]

['ha/SL',
 '당/XSN',
 '조/NNG',
 '사료/NNG',
 '400/SN',
 '만/NR',
 '원/NNB',
 '…/SE',
 '작물/NNG',
 '별/XSN',
 '차등/NNG',
 '지원/NNG']

In [53]:
with open('data/Validation/valid_news.json', 'r') as f:
    news = json.load(f)
val_sentences = []
val_ext = []
for doc in news['documents']:
    val_sentences.append(" ".join([ line[0]['sentence'].replace('.','')+'.' for line in doc['text'] if len(line) > 0]  ))
    val_ext.append(doc['extractive'])

7008