In [9]:
!pip install jsonlines

Requirement already satisfied: jsonlines in /Users/hyunn/opt/anaconda3/lib/python3.8/site-packages (2.0.0)

In [2]:
import jsonlines
import json
import os
from glob import glob
import pandas as pd

In [55]:
with open('data/Training/train_news.json', 'r') as f:
    news = json.load(f)
origin_sentences = []
ext = []
for doc in news['documents']:
    origin_sentences.append(" ".join([ line[0]['sentence'].replace('.','')+'.' for line in doc['text'] if len(line) > 0]  ))
    ext.append(doc['extractive'])

In [4]:
news['documents'][0]['text'][:3]

[[{'index': 0,
   'sentence': 'ha당 조사료 400만원…작물별 차등 지원',
   'highlight_indices': ''}],
 [{'index': 1, 'sentence': '이성훈 sinawi@hanmail.net', 'highlight_indices': ''}],
 [{'index': 2,
   'sentence': '전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를 적극 추진키로 했다.',
   'highlight_indices': ''}]]

In [6]:
origin_sentences[15000]

'與 김영춘·유영민·류영진 등 중량감 키운 친문계 당 복귀할듯. - 한국당 당직에 PK친박 중용해. 내년 21대 총선의 최대 승부처인 부산 울산 경남(PK)에서 친문(친문재인)과 친박(친박근혜)의 세 번째 대결이 벌어질 가능성이 커지고 있다. 이르면 이번 주 예정된 개각 때 김영춘 해양수산부 장관은 부산 부산진갑 민주당 의원으로 복귀가 유력한 것으로 3일 알려졌다. 자유한국당 황 대표는 내년 총선 전략과 당 운영 향배를 가늠할 수 있는 첫 인선을 이번 주 내놓는다. 하지만 친박 전면 배치에 대한 당 내부의 비판도 커지고 있어 변동 가능성도 있다. 박태우 기자 yain@kookjecokr .'

In [128]:
with open('./news_sentences', 'w') as f:
    for line in origin_sentences:
        f.write(line+'\n')

In [88]:
file_names = []
for each in glob('./morp_out/morp_*'):
    file_names.append(each)

In [89]:
file_names_2 = []
for each in glob('./morp/out*'):
    file_names_2.append(each)

In [90]:
file_names.sort(key=lambda x: int(x[19:]))
file_names_2.sort(key=lambda x: int(x[10:]))

In [91]:
file_names = file_names+file_names_2

In [92]:
print(file_names[:10])
print(file_names[-10:])

['./morp_out/morp_out0', './morp_out/morp_out1', './morp_out/morp_out2', './morp_out/morp_out3', './morp_out/morp_out4', './morp_out/morp_out5', './morp_out/morp_out6', './morp_out/morp_out7', './morp_out/morp_out8', './morp_out/morp_out9']
['./morp/out42990', './morp/out42991', './morp/out42992', './morp/out42993', './morp/out42994', './morp/out42995', './morp/out42996', './morp/out42997', './morp/out42998', './morp/out42999']

In [93]:
morp = []
for name in file_names:
    morp.append(open(name, 'r').read())

In [94]:
news_df = pd.DataFrame(columns=['morp', 'extractive'])

In [95]:
news_df['morp'] = morp
news_df['extractive'] = ext[:43000]

In [96]:
news_df

                                                    morp   extractive
0      ha/SL 당/XSN 조/NNG 사료/NNG 400/SN 만/NR 원/NNB …/S...   [2, 3, 10]
1      8/SN 억/NR 투입/NNG ,/SP 고소/NNG 천사/NNG 벽화/NNG ·/S...   [2, 4, 11]
2      전남드래곤즈/NNP 해/NNG 맞이/NNG 다짐/NNG …/SE 선수/NNG 영입/...    [3, 5, 7]
3      11/SN ~/SO 24/SN 일/NNB ,/SP 매실/NNG ·/SP 감/NNG ...    [2, 3, 4]
4      홍콩/NNP 크루즈선사/NNP ‘/SS 아쿠아리우스/NNP ’/SS 4/SN ,/S...    [3, 7, 4]
...                                                  ...          ...
42995  학생/NNG 리포터/NNG ./SF 참가/NNG 자/XSN 들/XSN 이/JKS 안...    [1, 2, 3]
42996  -/SS 대구공항/NNP LCC/SL 일본/NNP 노선/NNG 예약/NNG 률/XS...    [3, 4, 5]
42997  대구시/NNP 퇴직/NNG 앞두/VV ㄴ/ETM 공무/NNG 원/XSN 사회/NNG...  [4, 19, 24]
42998  -/SS 11/SN 전비/NNG ,/SP 다음/NNG 달/NNG 첫째/NR 주/NN...  [7, 11, 14]
42999  대구시/NNP 27/SN 일/NNB 민관/NNG 합동/NNG 물/NNG 가/NNG ...    [3, 4, 5]

[43000 rows x 2 columns]

In [70]:
news_df.to_csv('news_morp_ext.csv')

In [71]:
cnt = 0
for each in morp:
    for t in each.split(' ./SF '):
        if t == "":
            cnt +=1
print(cnt)
print(news_df.iloc[0][0].split(' ./SF ')[0])

In [53]:
with open('data/Validation/valid_news.json', 'r') as f:
    news = json.load(f)
val_sentences = []
val_ext = []
for doc in news['documents']:
    val_sentences.append(" ".join([ line[0]['sentence'].replace('.','')+'.' for line in doc['text'] if len(line) > 0]  ))
    val_ext.append(doc['extractive'])

7008